<div class="container">
 <h1>Registration Page</h1>

<form>
  <div class="form-group">
    <label for="username">Name</label>
    <input  type="email" class="form-control"name="name" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="username">Email Address</label>
    <input  type="email" class="form-control"name="username" id="username" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input  type="email" class="form-control"name="Password" id="Password"  placeholder="Enter Name">
  </div>
       <div class="form-group">
          <label for=" Verify Password"> Verify Password</label>s
          <input type="Password" class="form-control" name="Password"  id="Verify Password" placeholder=" Verify  Password">
        </div>
      <button type="button" class="btn btn-primary">submit</button>
      
    
</form>
<br>
<h6>Already have an account? <a routerLink="/login">Login</a></h6>
</div>